name: Deploy KitchenBot

on:
  push:
    branches: [ main ]

env:
  IMAGE: ${{ vars.APP_REGISTRY }}:${{ github.sha }}
  PROJECT_PATH: /opt/kitchen_project

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE }}

  deploy:
    needs: build-push
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using SSH key
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd $PROJECT_PATH
            sudo rm -rf .env

            sudo cat > .env << EOF
            BOT_IMAGE=${{ env.IMAGE }}
            TELEGRAM_BOT_TOKEN=${{ secrets.TELEGRAM_BOT_TOKEN }}
            POSTGRES_USER=${{ secrets.POSTGRES_USER }}
            POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_DB=${{ secrets.POSTGRES_DB }}
            ADMINS_IDS=${{ secrets.ADMINS_IDS }}
            POSTGRES_PORT=5432
            POSTGRES_HOST_AUTH_METHOD=${{ vars.POSTGRES_HOST_AUTH_METHOD }}
            POSTGRES_IMAGE=${{ vars.POSTGRES_IMAGE }}
            EOF


            # Деплой
            sudo docker compose pull
            sudo docker compose down
            sudo docker compose up -d

