name: Docker Image CI

permissions:
      contents: read
      pull-requests: write
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        run: |
          docker build . --file Dockerfile --tag ${{ vars.APP_REGISTRY }}:${{ github.sha }}
          docker push ${{ vars.APP_REGISTRY }}:${{ github.sha }}



        
