name: Docker Image CI

permissions:
      contents: read
      pull-requests: write
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
  build:
    runs-on: ubuntu-latest
    needs: login
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ vars.APP_REGISTRY }}:$GITHUB_SHA
    - name: Push to docker hub
      run: docker push ${{ vars.APP_REGISTRY }}:$GITHUB_SHA


        
